[submodule "git"]
	path = git
	url = git://github.com/opscode-cookbooks/git.git
[submodule "build-essential"]
	path = build-essential
	url = git://github.com/opscode-cookbooks/build-essential.git
[submodule "rbenv"]
	path = rbenv
	url = git://github.com/RiotGames/rbenv-cookbook.git
[submodule "postgresql"]
	path = postgresql
	url = git://github.com/opscode-cookbooks/postgresql.git
[submodule "openssl"]
	path = openssl
	url = git://github.com/opscode-cookbooks/openssl.git
